<p> Pierre has totally lost his shit because they have changed the retirement age to 64 in France. Now, at the age of
  61, he had to change some plans. Instead of trying to keep his bakery emblematic and representational of France's deep
  cultural traditions; he has decided to betray all of that and be spiteful. After he hired some kids to run the front
  of his bakery, they showed him YouTube, Instagram Facebook, and TikTok. Never having experienced such a dopamine rush,
  he realized how terrible it was for today's youth. However, he could not help himself and kept watching dumb videos,
  then he experienced the platforms introduce "stories", and "shorts", which then became more addictive. He vowed never
  to watch that garbage again. He kept to his word until it looked like he wasn't going to be able to retire early. Then
  he said F-it! If the French want to be more like Americans then here we go Connards!<br><br>
  Anyway, currently, he has decided that his bakery was too focused on complex carbs. He's decided he needs to join the
  youth and "go pro" by increasing the addictiveness of his product. He's opened up his sweets division to poison the
  population with addictive sugary sweets. Here is the new Website for the grand opening of "Les mauvais bonbons de
  Pierre" so he can be more effective at causing mass diabetes.</p>