@{
  Layout = "_Layout";
}

<h1>Welcome to Type Deux, par Pierre</h1>

<h2>Full menu of Possibilites!</h2>

<h3>Treats</h3>
<ul>
  @foreach (var treat in Model.AllTreats)
  {
    <li>@treat.Name</li>
  }
</ul>

<h3>Flavors</h3>
<ul>
  @foreach (var flavor in Model.AllFlavors)
  {
    <li>@flavor.Name</li>
  }
</ul>
