<div id="footer">
    <div>
        @Html.ActionLink("go home","Index","Home")
        @* @Html.ActionLink("go to PSASModel1 list","Index","PSASModel1")
        @Html.ActionLink("go to PSASModel2 list", "Index", "PSASModel2") *@
    </div>
</div>