<div id="footer">
    <div>
        @Html.ActionLink("go home","Index","Home")
        @* @Html.ActionLink("go to treatsModel1 list","Index","TreatsModel1")
        @Html.ActionLink("go to treatsModel2 list", "Index", "TreatsModel2") *@
    </div>
</div>