<div id="footer">
    <div>
        @Html.ActionLink("go home","Index","Home")
        @* @Html.ActionLink("go to templateModel1 list","Index","TemplateModel1")
        @Html.ActionLink("go to templateModel2 list", "Index", "TemplateModel2") *@
    </div>
</div>