<div id="footer">
        <span class=link-space>@Html.ActionLink("go home","Index","Home")</span>    
        <span class=link-space>@Html.ActionLink("Account services", "Index", "Account")</span>
</div>